<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="VCS">

    <Appenders>

        <RollingFile name="RollingFile"
                     fileName=".vcsFolder/logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout>

                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>

            </PatternLayout>

            <Policies>

                <TimeBasedTriggeringPolicy />

                <SizeBasedTriggeringPolicy size="250 MB"/>

            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="all">
            <appender-ref ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>
