<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="FTP">

    <Appenders>

        <Console name="Console"
                 target="SYSTEM_OUT">

            <PatternLayout>

                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>

            </PatternLayout>

        </Console>

    </Appenders>

    <Loggers>
        <Root level="all">
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>

</Configuration>